#ApplicantsView {
  padding-left: 10px;
  border-left: 2px solid #0085a6;
}

.sectionHeaders {
  color: rgb(77, 77, 77);
  cursor: default;
}

#sectionCV {
  color: rgb(0, 0, 89);
  cursor: pointer;
}

.appfileNameType {
  color: blue;
  cursor: pointer;
}

.appfileNameType:hover {
  text-decoration: underline;
}

#applicantTitles {
  background-color: rgba(255, 255, 255, 0);
  padding: 5px;
  border: 0;
  font-size: 1.2em;
}

#applicationsList {
  list-style: none;
  margin: 0;
  padding-left: 15px;
}

.applicationsItem {
  cursor: pointer;
  border-bottom: 1px dotted rgba(0, 0, 0, 0);
  display: inline-block;
}

.applicationsItem:hover {
  border-bottom: 1px dotted black;
}

#applicationsCol {
  position: relative;
  height: 50vh;
}

#applicationViewer {
  position: absolute;
  z-index: 10;
  border: 1.5px solid #0085a6;
  background-color: white;
  width: 90%;
  height: 100%;
  padding: 10px;
  display: none;
}

#closeApplicationViewer {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
