#returnBtn {
  font-size: 1.5rem;
  color: #0085a6;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
}

#returnBtn:hover {
  text-decoration: underline;
}

#submitArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#isApprovedLabel {
  margin-right: 10px;
}
