* {
  margin: 0;
  padding: 0;
}

#profile-menu {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

#profile-menu > * {
  display: flex;
  align-items: center;
}

#profile-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

#popup-back {
  background-color: rgba(0, 0, 0, 0.183);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 8;
  display: none;
  cursor: pointer;
}

#profMenu {
  background-color: rgba(240, 248, 255, 0);
  margin: 10px;
  display: inline-block;
  font-size: 1.5rem;
  margin: 10px;
  color: #0085a6;
  cursor: pointer;
  font-weight: bold;
  border: 0.5px solid #0085a6;
  height: 75%;
  padding: 5px 10px;
  border-radius: 2px;
}

.profile-menu-mini {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
