.navbar {
  background: linear-gradient(
    48deg,
    rgba(0, 107, 134, 1) 0%,
    rgba(0, 133, 166, 1) 35%
  );
  height: 12.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  padding: 0 100px !important;
}

#logo {
  color: white;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

#headerLogo {
  margin: 0 5px;
  cursor: pointer;
}

.linkBtns {
  margin: 0 10px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
}

#logoLink {
  text-decoration: none;
}

.linkBtns:hover {
  color: white !important;
}

#linkBtnsExit {
  font-size: 1.2em;
  cursor: pointer;
}

#burgerMenu {
  color: rgb(228, 227, 227);
  cursor: pointer;
  font-size: 1.7rem;
  display: inline-block;
}

#burgerMenu:hover {
  color: white;
}
