#popupBackground {
  background-color: white;
  position: absolute;
  max-height: 75%;
  margin-top: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border: 2px solid #1e2c41;
  border-radius: 5px;
  padding: 15px;
  display: none;
  overflow: scroll;
  width: 100%;
}

#postFormDelete {
  background-color: white;
  border: 2px solid #1f2c41;
  color: #1f2c41;
}

#liveBox {
  margin-top: 10px;
  font-size: 1em;
  text-transform: uppercase;
}

#isApproved {
  margin: 5px;
}

#submitArea {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

label {
  color: rgb(82, 82, 82);
  font-size: 0.8em;
}

#formPanelLeft > .row {
  margin-bottom: 5px;
}

#isApprovedLabel {
  font-size: 1em;
}

#popupRow {
  position: absolute;

  width: 100%;
  height: 100%;
  margin-left: 0;
  display: flex;
  justify-content: center;
}

#popupCol {
  position: relative;
}
