.adContainer {
  width: 100%;
}

#awaitingApproval,
#Approved {
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
}

#popup-block {
  display: none;
}

#noAds {
  color: rgb(50, 50, 50);
  font-size: 1.2em;
}
