.container-register {
  display: flex;
  justify-content: center;
  align-items: center;
}

#registerPanel {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
  padding: 10px 0;
  font-style: italic;
  cursor: default;
}

#registerformPanel {
  color: rgb(196, 0, 0);
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
